<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    @*<link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />*@
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/superfish.css">

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-migrate-1.1.1.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/jquery.mobilemenu.js"></script>

    <script src="~/Scripts/jquery.ui.totop.js"></script>


    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>
    <!--==============================header=================================-->
    <header>
        <div class="container_12">
            <div class="row">
                <div class="grid_12 bord-1">
                    <h1>
                        <a href="@Url.Action("Home")">
                            Equestrian Farm
                            <span>Well-Being of Your Horse</span>
                        </a>
                    </h1>
                    <nav>
                        <ul class="sf-menu">
                            <li><a href="@Url.Action("Home")">Home</a></li>
                            <li class="current marg-left">
                                <a href="index-1.html">About farm</a>
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Facilities</a></li>
                                    <li>
                                        <a href="#">Riding &amp; Training</a>
                                        <ul>
                                            <li><a href="#">Breeding</a></li>
                                            <li><a href="#">Fore Sale</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="index-2.html">What we do</a></li>
                            <li class="marg-left"><a href="index-3.html">Blog</a></li>
                            <li><a href="index-4.html">Contacts</a></li>
                        </ul>
                        <div class="tel"><i class="fa fa-phone"></i> 800 559 6580</div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!--=======content================================-->

    <section class="content">
        <div class="container_12">
            <div class="row">
                <div class="grid_8">
                    <h2>A Few Words About Our Farm</h2>
                    <div class="clearfix">
                        <img src="images/page-2_img-1.jpg" alt="" class="img-ind w1" />
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetuer adipiscin elit. Praesent vestibulum molestie lacusem. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Nulla duiusce feugiat male suada odio. Morbi nunc odio gravida atcursus nec. </p>
                            <p>luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor dapibus eget elementum vel cursus. Lorem ipsum dolor sit amet consectetuer adipiscin elit. Praesent vestibulum molestie lacusem. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. </p>
                            <div>Nulla duiusce feugiat male suada odio. Morbi nunc odio gravida atcursus nec. luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor dapibus eget elementum vel cursus eleifend elit. Aenean auctor wisi et urna. Aliqua erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</div>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <h2>What We Offer</h2>
                    <div class="box-4 clearfix">
                        <div class="time">01</div>
                        <div class="extra-wrap">Lorem ipsum dolor amet consectetue adipiscing elit. Praesent vestibulum molestie lacus. Aeneanume nonummy. hendrerit mauris hasellus porta. Fusce suscipit varius mi.</div>
                    </div>
                    <div class="box-4 clearfix">
                        <div class="time">02</div>
                        <div class="extra-wrap">Lorem ipsum dolor amet consectetue adipiscing elit. Praesent vestibulum molestie lacus. Aeneanume nonummy. hendrerit mauris phasellus porta. Fusce suscipit varius miem. Cum sociis natoque penatibus et magnis.</div>
                    </div>
                    <div class="box-4 clearfix">
                        <div class="time">03</div>
                        <div class="extra-wrap">Lorem ipsum dolor amet consectetue adipiscing elit. Praesent vestibulum molestie lacus. Aeneanume nonummy. hendrerit mauris hasellus porta. Fusce suscipit varius mi.</div>
                    </div>
                </div>
                <div class="grid_12 bord-1 v1"></div>
            </div>
            <div class="row">
                <div class="grid_12">
                    <h2>Our Team</h2>
                </div>
                <div class="grid_2 box-5">
                    <img src="images/page-2_img-2.jpg" alt="" class="wrapper">
                    <div class="text-1"><a href="#" class="a-hov">Mark Johnson</a></div>
                    <div>Lorem ipsum dolor sit ametum consectetuer adipiscin elit. Praesent vestibulum molestie lacusemene nonummy hendrerit mauris. </div>
                </div>
                <div class="grid_2 box-5">
                    <img src="images/page-2_img-3.jpg" alt="" class="wrapper">
                    <div class="text-1"><a href="#" class="a-hov">Jessica Priston</a></div>
                    <div>Lorem ipsum dolor sit ametum consectetuer adipiscin elit. Praesent vestibulum molestie lacusemene nonummy hendrerit mauris. </div>
                </div>
                <div class="grid_2 box-5">
                    <img src="images/page-2_img-4.jpg" alt="" class="wrapper">
                    <div class="text-1"><a href="#" class="a-hov">Bradley Grosh</a></div>
                    <div>Lorem ipsum dolor sit ametum consectetuer adipiscin elit. Praesent vestibulum molestie lacusemene nonummy hendrerit mauris. </div>
                </div>
                <div class="grid_2 box-5">
                    <img src="images/page-2_img-5.jpg" alt="" class="wrapper">
                    <div class="text-1"><a href="#" class="a-hov">Olivia Pool</a></div>
                    <div>Lorem ipsum dolor sit ametum consectetuer adipiscin elit. Praesent vestibulum molestie lacusemene nonummy hendrerit mauris. </div>
                </div>
                <div class="grid_2 box-5">
                    <img src="images/page-2_img-6.jpg" alt="" class="wrapper">
                    <div class="text-1"><a href="#" class="a-hov">Lora McCoist</a></div>
                    <div>Lorem ipsum dolor sit ametum consectetuer adipiscin elit. Praesent vestibulum molestie lacusemene nonummy hendrerit mauris. </div>
                </div>
                <div class="grid_2 box-5">
                    <img src="images/page-2_img-7.jpg" alt="" class="wrapper">
                    <div class="text-1"><a href="#" class="a-hov">Linda Smith</a></div>
                    <div>Lorem ipsum dolor sit ametum consectetuer adipiscin elit. Praesent vestibulum molestie lacusemene nonummy hendrerit mauris. </div>
                </div>
            </div>
            <div class="row">
                <div class="grid_12 bord"></div>
            </div>
        </div>
    </section>

    <!--=======footer=================================-->

    <footer>
        <div class="container_12">
            <div class="row">
                <div class="grid_4 fright">
                    <h2>Follow Us</h2>
                    <ul class="list-services v1">
                        <li><a href="#" class="list-services-2"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="list-services-1"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="list-services-3"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="list-services-3"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="grid_8">
                    <a href="index.html" class="logo">Equestrian Farm</a>
                    <div class="copyright"><a href="#" class="h-underline">Equestrian Farm</a> &copy;     <span id="copyright-year"></span> • <a href="index-5.html" class="h-underline">Privacy Policy</a></div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
